.image {

}

.body {

}
.about {

}

.store {
  color: red;
}

.gmail {

}

.images {

}

.search .lucky {

}

li.about li.store {
  float: left;
}

li.gmail li.images {
  float: right;
}
li{
  display: inline;
  padding: 8px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
