.image {
  display: block;
  margin: auto;
  width: 20%;
  padding-top: 100px;
  padding-bottom: 50px;
}

.body {

}
.about {

}

.store {
  color: red;
}

.gmail {

}

.images {

}

.search {
  text-align: center;

}
.t {
  padding-bottom: 100px;
}
